.brand-area{
    padding: 70px 0;
    width: 100%;
    &-container{
        width: 1170px;
        margin: 0 auto;
        @media (max-width:1200px) {
            width: 100%;
        }

            &-section{
                padding: 25px 0 23px;
                border: 1px solid #efefef;
                border-radius: 7px;
                display: block;
                &-content{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    
                    .item{
                        // width: 212.8px;
                        // padding-right: 20px;
                        // padding-left: 40px;
                        // margin-right: 20px;


                        
                        

                        &-brend{
                            display: flex;
                            justify-content: space-between;

                            // @media (max-width:1170px) {
                            //     width: 100%;
                            // }
                        }
                    }
                }
            }
        }
    }
