$red-color: #c22026;
$gen-backg-Sect: #fff;
$color-text-black: #222;
$color-brown : #6e3703;

@mixin hover-box {
    transition: 1s ease-in-out;
    background: #c22026;
}
@mixin transit-svg {
    fill:#c22026;
    transition: all .3s ease 0s;
}

@mixin transit-text {
    color: #c22026;
    transition: all .3s ease 0s;
}


@mixin button-hover-black{
    background:#222;
    transition: all .3s ease 0s;
}
@mixin font-style-400-13 {
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}
@mixin font-style-400-14 {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}
@mixin font-style-400-15 {
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}
@mixin font-style-400-24 {
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}

@mixin font-style-500-24 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}
@mixin font-style-500-25 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}
@mixin font-style-500-32 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}
footer{

    .footer-section{
        width: 100%;
        // @media (max-width:1170px) {
        //     width: 100%;
            
        // }
            &-content{
                width: 1170px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0 auto;
                flex-wrap: wrap;
                @media (max-width:1170px) {
                    width: 100%;
                }
                @media (max-width:900px) {
                    width: 90%;
                }

                &-collumn1{
                    width: 34%;
                    &-logo{
                        &__link{
                            color: inherit;
                            line-height: inherit;
                            text-decoration: none;
                            cursor: pointer;
                            img{
                                width: 100%;
                                height: auto;

                            }
                        }
                        
                    }
                    &-desc{
                        margin-bottom: 22px;
                        
                        line-height: 22px;

                        color: #222;
                        letter-spacing: .02em;
                        @include font-style-400-14;
                        &__link{
                            color: inherit;
                            line-height: inherit;
                            text-decoration: none;
                            cursor: pointer;
                        }
                        a:hover{
                            @include transit-text;
                        }
                    }
                    // @media (max-width:882px) {
                    //     width: 30%;
                    // }

                }
                &-collumn2{
                    width: 15%;
                    @media (max-width:500px) {
                        width:20%;
                    }
                    &__menu{
                        &-list{
                            &-text{
                                &__link{
                                    color: inherit;
                                    
                                    text-decoration: none;
                                    cursor: pointer;
                                    display: block;

                                    line-height: 30px;

                                    @include font-style-400-14;
                                    letter-spacing: .02em;

                                }
                                a:hover{
                                    @include transit-text;
                                }
                            }
                        }
                    }
                }
                &-collumn3{
                    width: 15%;
                    @media (max-width:500px) {
                        width:18%;
                    }
                    &-menu{
                        &-list{
                            padding-left: 0px;
                            &-text{
                                &__link{
                                    color: inherit;
                                    
                                    text-decoration: none;
                                    cursor: pointer;
                                    display: block;

                                    line-height: 30px;

                                    @include font-style-400-14;
                                    letter-spacing: .02em;

                                }
                                &__link:hover{
                                    @include transit-text;
                                }
                            }    
                        }    
                    }
                }
                &-collumn4{
                    // width: 30%;

                    @media (max-width:1200px) {
                        width: 80%;
                    }

                    &-content{
                        h3{
                            font-style: normal;
                            font-weight: 400;
                            visibility: visible;
                            font-family: Comfortaa,sans-serif;
                            color: #222;
                            letter-spacing: .02em;
                            text-align: cq  ;
                            @media (max-width:582px) {
                                font-size: 10px;
                                
                            }
                        }
                        &__desc{
                            color: inherit;
                            
                            text-decoration: none;
                            // cursor: pointer;
                            display: block;

                            line-height: 30px;

                            @include font-style-400-14;
                            letter-spacing: .02em;
                        }
                        &-bottom{
                            // width: 100%;
                            
                            &-form{
                                position: relative;
                                border: 1px solid #cac8c8;
                                width: 100%;
                                margin: 0 auto;
                                border-radius: 30px;

                                &__inp{
                                    
                                width: 100%;
                                border: 0;
                                background: 0 0;
                                padding: 0 120px 0 20px;
                                height: 46px;
                                font-size: 13px;
                                color: #222;
                                border-radius: 30px;
                                outline: none;
                                }
                                &__button{
                                    font-size: 14px;
                            text-transform: uppercase;
                            font-weight: 400;
                            height: 100%;
                            border: 0;
                            position: absolute;
                            top: 0;
                            right: 0;
                            -webkit-transition: .3s;
                            -o-transition: .3s;
                            transition: .3s;
                            padding: 0 15px;
                            border-radius: 0 30px 30px 0;
                            background: #c22026;
                            color: #fff;

                                }
                            }
                        }
                    }

                    
                }

            }
        

}









    .footer_bottom{
        padding: 29px 0;
        background: #c22026;
        height: 100%;
        .container{
            @media (max-width:1170px) {
                width: 100%;
                
            }
            width: 1170px;
            .align-items-center{
                align-items: center!important;
                .col-lg-6{
                    flex: 0 0 auto;
                    width: 50%;
                    .copyright_area{
                        p{
                            text-transform: capitalize;
                            line-height: 25px;

                            color: #fff;


                            @include font-style-400-14;
                            letter-spacing: .02em;
                            a{
                                color: inherit;
                                line-height: inherit;
                                text-decoration: none;
                                cursor: pointer;
                            }
                            a:hover{
                                transition: all .3s ease 0s;
                                color:#222;
                            }
                        }
                        }
                    }
                }
            }
    }
    

}