$red-color: #c22026;
$gen-backg-Sect: #fff;
$color-text-black: #222;
$color-brown : #6e3703;
$color-lightGray :#f4f4f4;

@mixin hover-box {
    transition: 1s ease-in-out;
    background: #c22026;
}
@mixin transit-svg {
    fill:#c22026;
    transition: all .3s ease 0s;
}

@mixin transit-text {
    color: #c22026;
    transition: all .3s ease 0s;
}


@mixin button-hover-black{
    background:#222;
    transition: all .3s ease 0s;




}
@mixin font-style-400-13 {
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}
@mixin font-style-400-14 {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}
@mixin font-style-400-15 {
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}
@mixin font-style-400-24 {
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}

@mixin font-style-500-24 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}
@mixin font-style-500-25 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}
@mixin font-style-500-32 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
}